@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Contact Client"; }
<div class="container ">
    <br /><br />
    <div class="row">
        <div class="col-6 col-md">
            <form method="post" asp-controller="ContactClient" asp-action="SendMailToClient">
                <div class="form-group" style="width:100%;">

                    <h2>Send <b>Message</b></h2>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input id="MailClient" name="MailCLient" class="form-control" placeholder="E-mail" required />
                    <span id="MailClient" name="MailClient" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Descriprion">Add an Overview</label>
                    <textarea id="Description" class="form-control" name="Description" rows="13" placeholder="Overview" required></textarea>
                </div>
                <input class="btn btn-primary btn-lg btn-block" value="Send" asp-action="SendMailToClient" type="submit">
            </form>
        </div>
        <div class="col-6 col-md">
            <h2><b>Email Laws</b> and <b>Regulations</b></h2>
            <br />
            <h4>1.Ensure you have permission to email the people on your list</h4>
            <p>Implied permission describes those with whom you have an existing business relationship.If you don t have implied permission to email a person, then you'll need express permission</p>
            <h4>2.Don t use misleading header information</h4>
            <p>"Header information" refers to the extra information sent along with your email campaig, such as the "from" name, subject line, and reply-to addres</p>
            <h4>3.Identify your email as an advertisement</h4>
            <p>CAM-SPAM laws stipulate that you must clearly and conspicuously disclose that your message is and advertisement</p>
            <h4>4.Include the addres where the reapairs where taking</h4>
            <h4>5.Honor opt-out requests promptly</h4>
            <p>The CAM-SPAM laws stipulate that you must honor a recipient's opt-out request within 10 business days, and that you cannot charge a fee to opt them out.</p>
        </div>
    </div>
</div>